

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6{
    font-family: inherit;
}

@font-face {
	font-family: 'Conv_AvenirLTProBook';
	src: url('fonts/AvenirLTProBook.eot');
	src: url('fonts/AvenirLTProBook.woff') format('woff'), url('fonts/AvenirLTProBook.ttf') format('truetype'), url('fonts/AvenirLTProBook.svg') format('svg');	
}

/* body{
    font-family: inherit;
    font-weight: inherit;
} */



