

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6{
    font-family: inherit;
}

@font-face {
	font-family: 'Conv_AvenirLTProBook';
	src: url('fonts/AvenirLTProBook.eot');
	src: url('fonts/AvenirLTProBook.woff') format('woff'), url('fonts/AvenirLTProBook.ttf') format('truetype'), url('fonts/AvenirLTProBook.svg') format('svg');
	
}

/* body{
    font-family: inherit;
    font-weight: inherit;
} */


/* =========== navbar =========== */

.navbar .megamenu{ padding: 1rem; }

.navbar .dropdown-menu{
    border: none;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.navbar .nav-link{
    font-size: 14px;
    letter-spacing: 0px;
    color: #424143;
    text-transform: capitalize;
    opacity: 1;
    font-weight: normal;
}

.navbar .nav-link:hover{
    text-decoration: none;
}

.navbar .navbar-collapse ul li{
    padding: 5px 10px;
}

.btnStudent{
    background: #EE2C3C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    color: #FFFFFF !important;
    font-size: 14px;
    letter-spacing: 0px;
    width: 120px;
    text-align: center;
}

.btnStudent:hover, .btnStudent:focus{
    color: #FFFFFF;
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    
    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; margin-top:-5px;  }
    
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
        overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }
}
/* ============ mobile view .end// ============ */


/* =========== video section ============= */

.videoSection video{
    object-fit: cover;
    width: 100vw;
    height: 90vh;
}
.videoSection .overlay{
    position: absolute;
    width: 100vw;
    height: 90vh;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.videoText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

.videoText h1{
    color: #EE2C3C;
}

.videoText button{
    margin-top: 2rem;
    width: 251px;
    height: 50px;
    background-color: #EE2C3C;
    color: white;
}

.videoText .aeroImg{
    position: absolute;
    left: -42px;
}

.bottomBox{
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 19px #00000014;
    border-radius: 21px;
    opacity: 1;
}

.bottomBox div h6{
    margin-top: 5px;
    color:#EE2C3C;
    
}

.bottomBox div p{
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #424143;
    opacity: 1;
}


/* ====== Banner Section ====== */

.bannerSize{
    width: 96%;
}

.enrollBtn{
    position: absolute;
    bottom: 6px;
    left: 41px;
    font-size: 14px;
    background: #EE2C3C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    width: 150px;
    height: 50px;
    color: #FFFFFF;
}

.carousel-indicators button.active {
    opacity: 1;
    background-color: #EE2C3C;
    width: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .carousel-indicators {
    margin-bottom: 0px;
    bottom: -30px;
  }
  
  .carousel-indicators button {
    border-radius: 50px;
  }
  
  .carousel-indicators [data-bs-target] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    
    background-clip: initial;
    border: 0;
    border-top: 3px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: #f7828c;
    height: 0px;
    width: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }


  .carousel-control-prev{
    top: 40%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    /* background: #ee8f98;
    padding: 6px; */
  }


  .carousel-control-next{
    top: 40%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    /* background: #ee8f98;
    padding: 6px; */
  }

  .carousel-control-prev-icon {
    background-image: url('../img/arrow-left.svg')
  }

  .carousel-control-next-icon {
    background-image: url('../img/aero-right.svg')
  }


  .card1 {
    border-radius: 10px 10px 0px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 60px #262D7614;
  }

  .card3 {
    overflow: hidden;
    box-shadow: 0px 10px 60px #262D7614;
    border-radius: 14px;
    opacity: 1;
  }

  .card3 .scaleImg {
    transition: all 0.9s;
  }

  .card1:hover .card3 .scaleImg {
    transform: scale(1.1);
  }

  .card1:hover .cardContent h6{
    color: #EC2A3D;
  }

  .cardBtn {
    border-radius: 0px 0px 10px 10px;
    color: #EC2A3D;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0px;
    opacity: 1;
    background: #fff;
    font-weight: 500;
    height: 40px;
    width: 130px;
    box-shadow: 0px 10px 60px #262D7614;
  }

  .cardBtn img {
    display: initial !important;
    width: 16px !important;
    margin-bottom: 2px;
    margin-left: 4px;
  }

  .cardBtn:hover {
    background: #EC2A3D;
    color: #fff;
    outline: none;
    border: 1px solid #EC2A3D;
  }

  .whiteTap {
    position: absolute;
    top: 16px;
    color: #EC2A3D;
    border-radius: 0px 7px 7px 0px;
  }

  .whiteTap h6 {
    font-size: 12px;
    font-weight: 400;
  }

  .scaleIcon {
    position: absolute;
    bottom: 135px;
    left: 35px;
  }

  .cardContent ul li {
    list-style-type: none;
  }

  .cardContent .fs1 li {
    color: #9496A0;
    font-size: 13px;
    line-height: 22px;
  }

  .cardContent .fs2 li {
    color: #535253;
    font-size: 12px;
    line-height: 22px;
  }

  .fs2 li img {
    width: 7px !important;
  }
/* 
  .large-12 .owl-carousel .item {
    opacity: 0.45 !important;
  } */

  .owl-stage .owl-item.active{
    opacity: 1;
  }


  .owl-stage .owl-item.active:last-child{
    opacity: .45 !important;
  }

  .owl-stage .owl-item{
    opacity: .35;
  }


  .owl-theme .owl-dots .owl-dot span {
    width: 21px;
    height: 5px;
    margin: 5px 3px;
    background: #fcadb3;
    transition: all 0.5s;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #EE2C3C;
    width: 30px;
}

  .slentedDiv{
   background-image: url('../img/Path.svg') ;
   background-size: cover;
   background-position: top;
   /* clip-path: polygon(0 8%, 100% 0, 100% 60%, 0 90%); */
   padding: 50px 0rem 0rem 0rem;
}

.sliderDiv{
  height: 100vh;
}

.title h4 span{
  color: #EE2C3C;
}

.title p{
  letter-spacing: 0px;
  color: #6E748B;
  opacity: 1;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
}

/* next/previous button for owl nav */

.owl-theme {
  position: relative;
}


.owl-nav .owl-prev{
 
  position: absolute;
  left: 11%;
  top: 45%;
  transform: translate(-11%, -50%);
}

.owl-nav .owl-next{
  
  position: absolute;
  right: 11%;
  top: 45%;
  transform: translate(-11%, -50%);
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: transparent;
}

.owl-nav .owl-prev [aria-label="Previous"]{
  background-image: url('../img/left-aero.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 14px;
  color: transparent;
}

.owl-nav .owl-next [aria-label="Next"]{
  background-image: url('../img/aero-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 14px;
  color: transparent;
}

.owl-theme .owl-nav .disabled {
  opacity: 0;
}



/* tech Product css */

.techProduct{
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-image: url('../img/square.svg') ;
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}

.NewAgeSection{
  background-image: url('../img/Path.svg') ;
  background-size: cover;
  background-position: top;
}

.techCard .col-md-4{
  padding:1rem;
}

.NewAgeCard{
  height: 90vh;
  width: 74%;
}

.NewAgeCard .card3 {
    height: 220px;
}

.NewAgeCard .cardContent p{
  font-size: 13px;
  letter-spacing: 0px;
  color: #9496A0;
  opacity: 1;
  margin-bottom: 0px;
  font-weight: 400;
}

.NewAgeCard .scaleIcon {
    position: absolute;
    bottom: 175px;
    left: 35px;
}




  