
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: AvenirLTProBook;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: 'AvenirLTProBook';
  src: url('../fonts/AvenirLTProBook.otf');
}

@font-face {
	font-family: 'AvenirLTProBookOblique';
  src: url('../fonts/AvenirLTProBookOblique.otf');
}
@font-face {
	font-family: 'AvenirLTProLight';
  src: url('../fonts/AvenirLTProLight.otf');
}
@font-face {
	font-family: 'AvenirLTProLightOblique';
  src: url('../fonts/AvenirLTProLightOblique.otf');
}
@font-face {
	font-family: 'AvenirLTProMedium';
  src: url('../fonts/AvenirLTProMedium.otf');
}

@font-face {
	font-family: 'AvenirLTProMediumOblique';
  src: url('../fonts/AvenirLTProMediumOblique.otf');
}
@font-face {
	font-family: 'AvenirLTProOblique';
  src: url('../fonts/AvenirLTProOblique.otf');
}
@font-face {
	font-family: 'AvenirLTProRoman';
  src: url('../fonts/AvenirLTProRoman.otf');
}


/* =========== navbar =========== */


#navbar{
  padding: 1vw;
  transition: all 0.9s;
}


.navbar .megamenu{ padding: 1rem; }

.navbar .dropdown-menu{
    border: none;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.navbar .nav-link{
    font-size: 14px;
    letter-spacing: 0px;
    color: #424143;
    text-transform: capitalize;
    opacity: 1;
    font-weight: normal;
    font-family: AvenirLTProBook;
}

.navbar .nav-link span{
  font-weight: normal;
  font-family: AvenirLTProBook;

}

.navbar .nav-link:hover{
    text-decoration: none;
}

.navbar .navbar-collapse ul li{
    padding: 5px 10px;
    
}

/* .nav-item.active .nav-link{
  color: #EC2A3D;
} */

.nav-item.active{
  position: relative;

}
.nav-item .circle-red{
  text-align: center;
  /* display: none; */
  position: absolute;
  /* left: 45%;
  top: 75%; */
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background-color: #EC2A3D;
}

.nav-item.active .nav-link::after{
  background-image: url('../img/Ellipse\ 56.svg');
}

.joinCourse span{
  color: #990000;
}

.subdropdown{
  list-style-type: none;
  /* margin-left: 15rem;
  margin-right: 7rem; */
  margin: auto;
}

.subdropdown3{
  list-style-type: none;
}

.subdropdown,.subdropdown3 li{
  font-size: 14px;
  letter-spacing: 0px;
  color: #424143;
  opacity: 1;
  cursor: pointer;
}

.megamenu .subdropdown li:hover{
  color: #EC2A3D;
}

.megamenu .subdropdown3 li:hover span{
  color: #EC2A3D;
}

/*  */



.nav-link.joinCourse.show > span::after{
  position: absolute;
  content: "";
  background: #990000;
  color: #990000 !important;
  width: 6px;
  height: 6px;
  bottom: 0px;
  left: 50%;
  border-radius: 100%;
}

.nav-link.show > span::after{
  position: absolute;
  content: "";
  background: #EC2A3D;
  color: #EC2A3D !important;
  width: 6px;
  height: 6px;
  bottom: 0px;
  left: 50%;
  border-radius: 100%;
}

.nav-link.show{
  color: #EC2A3D;
}

.nav-link.show img{
  filter: opacity(.5) brightness(2.5) drop-shadow(0 0 0 red) contrast(321%);
}

.headDiv{
  margin-bottom: 1rem;
  background: #FAFBFC;
}

.headDiv:hover{
  background: #FDE8EA;
}
.headDiv img{
  width: 100%;
}

.headDiv h6{
  font-size: 14px;
  letter-spacing: 0px;
  color: #424143;
  font-weight: 900;
  opacity: 1;
  margin-bottom: 1.3rem;
}

.headDiv a{
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;
  color: #EE2C3C;
  opacity: 1;
  text-decoration: none;
  margin-bottom: 1rem;
}

.headDiv p{
  font-size: 12px;
  letter-spacing: 0px;
  color: #424143;
  opacity: 1;
  margin-bottom: 0px;
  margin-top: 5px;
}


.btnStudent{
    background: #EE2C3C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    color: #FFFFFF !important;
    font-size: 14px;
    letter-spacing: 0px;
    width: 120px;
    text-align: center;
    font-weight: 900 !important;
}

.btnStudent:hover, .btnStudent:focus{
    color: #FFFFFF;
}



/* =========== video section ============= */

.videoSection video{
    object-fit: cover;
    width: 100%;
    height: 90vh;
}
.videoSection .overlay{
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.videoText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

.videoText h1{
    color: #EE2C3C;
    font-family: Avenir LT Pro, 95  !important;
    font-weight: 900;
}

.videoText button{
    margin-top: 2rem;
    width: 251px;
    height: 50px;
    background-color: #EE2C3C;
    color: white;
}

.videoText .aeroImg{
    position: absolute;
    left: -42px;
}

.bottomBox{
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 19px #00000014;
    border-radius: 21px;
    opacity: 1;
}

.bottomBox div h6{
    font-weight: 900;
    margin-top: 5px;
    color:#EE2C3C;
    
}

.bottomBox div p{
    font-weight: 500;
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: 0px;
    color: #424143;
    opacity: 1;
}


/* ====== Banner Section ====== */

.bannerSize{
    width: 96%;
}

.btn:hover, .btn:focus {
  color: #FFFFFF;
  background-color:#EE2C3C;
  border-color: #EE2C3C;
}
.btn img{
  transition: all 0.5s;
}
.btn:hover img{
  transform: scaleX(1.4);
}

.enrollBtn{
    position: absolute;
    bottom: 6px;
    left: 41px;
    font-size: 14px;
    background: #EE2C3C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    width: 150px;
    height: 50px;
    color: #FFFFFF;
}

.carousel-indicators button.active {
    opacity: 1;
    background-color: #EE2C3C;
    width: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .carousel-indicators {
    margin-bottom: 0px;
    bottom: -30px;
  }
  
  .carousel-indicators button {
    border-radius: 50px;
  }
  
  .carousel-indicators [data-bs-target] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    
    background-clip: initial;
    border: 0;
    border-top: 3px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: #f7828c;
    height: 0px;
    width: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }


  .carousel-control-prev{
    top: 40%;
    width: 44px;
    height: 30px;
    border-radius: 50px;
    /* background: #ee8f98;
    padding: 6px; */
  }


  .carousel-control-next{
    top: 40%;
    width: 42px;
    height: 30px;
    border-radius: 50px;
    /* background: #ee8f98;
    padding: 6px; */
  }

  .carousel-control-prev-icon {
    background-image: url('../img/left-aero.svg')
  }

  .carousel-control-next-icon {
    background-image: url('../img/aero-right.svg')
  }


  .card1 {
    border-radius: 10px 10px 0px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 60px #262D7614;
  }

  .card3 {
    overflow: hidden;
    box-shadow: 0px 10px 60px #262D7614;
    border-radius: 14px;
    opacity: 1;
  }

  .card3 .scaleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.9s;
  }

  .card1:hover .card3 .scaleImg {
    transform: scale(1.1);
  }

  .cardContent h6{
    font-size: 18px;
    font-weight: 900;
  }

  .card1:hover .cardContent h6{
    color: #EC2A3D;
  }

  .cardBtn {
    border-radius: 0px 0px 10px 10px;
    color: #EC2A3D;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0px;
    opacity: 1;
    background: #fff;
    font-weight: 500;
    height: 40px;
    width: 130px;
    box-shadow: 0px 10px 60px #262D7614;
  }

  .cardBtn img {
    display: initial !important;
    width: 16px !important;
    margin-bottom: 2px;
    margin-left: 4px;
  }

  .cardBtn img{
    filter: opacity(0.6) brightness(0.5) drop-shadow(0 0 0 red) contrast(321%);
  }

  .cardBtn:hover img{
    filter: opacity(0.6) brightness(0.9) drop-shadow(0 0 0 white) contrast(321%);
    transform: scale(1);
  }

  /* .cardBtn span img:first-child{
    display: none;
  }

  .cardBtn span img:last-child{
    display: block;
  }


  .cardBtn:hover span img:last-child{
    display: none;
  }

  .cardBtn:hover span img:first-child{
    display: block;
  } */

  .cardBtn:hover {
    /* transition: all 0.5s; */
    background: #EC2A3D;
    color: #fff;
    outline: none;
    border: 1px solid #EC2A3D;
  }

  .whiteTap {
    position: absolute;
    top: 16px;
    color: #EC2A3D;
    border-radius: 0px 7px 7px 0px;
  }

  .whiteTap h6 {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 400;
  }

  .scaleIcon {
    position: absolute;
    bottom: 143px;
    left: 35px;
  }

  .scaleIcon img{
    width: 40%;
  }

  .sliderDiv .owl-dots{
    margin-top: 3rem;
  }


  .cardContent ul li {
    list-style-type: none;
  }

  .cardContent .fs1 li {
    color: #9496A0;
    font-size: 13px;
    line-height: 22px;
  }

  .cardContent .fs2 li {
    color: #535253;
    font-size: 12px;
    line-height: 22px;
  }

  .fs2 li img {
    width: 7px !important;
  }
/* 
  .large-12 .owl-carousel .item {
    opacity: 0.45 !important;
  } */

  .owl-stage .owl-item.active{
    opacity: 1;
  }


  /* .owl-stage .owl-item.active:last-child{
    opacity: .45 !important;
  } */

  .owl-stage .owl-item{
    opacity: .35;
  }


  .owl-theme .owl-dots .owl-dot span {
    width: 21px;
    height: 5px;
    margin: 5px 3px;
    background: #fcadb3;
    transition: all 0.5s;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #EE2C3C;
    width: 30px;
}

  .slentedDiv{
   background-image: url('../img/Path.svg') ;
   background-size: cover;
   background-position: top;
   /* clip-path: polygon(0 8%, 100% 0, 100% 60%, 0 90%); */
   padding: 50px 0rem 0rem 0rem;
}

.sliderDiv{
  height: 100vh;
}
.title h4{
  font-weight: 900;
}
.title h4 span{
  font-weight: 900;
  color: #EE2C3C;
}

.title p{
  letter-spacing: 0px;
  color: #6E748B;
  opacity: 1;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
}

/* next/previous button for owl nav */

.owl-theme {
  position: relative;
}


.owl-nav .owl-prev{
 
  position: absolute;
  left: 11%;
  top: 45%;
  transform: translate(-11%, -50%);
}

.owl-nav .owl-next{
  
  position: absolute;
  right: 11%;
  top: 45%;
  transform: translate(-11%, -50%);
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: transparent;
}

.owl-nav .owl-prev [aria-label="Previous"]{
  background-image: url('../img/left-aero.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 14px;
  color: transparent;
}

.owl-nav .owl-next [aria-label="Next"]{
  background-image: url('../img/aero-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 14px;
  color: transparent;
}

.owl-theme .owl-nav .disabled {
  opacity: 0;
}



/* tech Product css */

.techProduct{
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-image: url('../img/square.svg') ;
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}

.NewAgeSection{
  background-image: url('../img/Path.svg') ;
  background-size: cover;
  background-position: top;
}

.techCard .col-md-4{
  padding:1rem;
}

.techCard .cardContent p{
  font-size: 13px;
  letter-spacing: 0px;
  color: #9496A0;
  opacity: 1;
  margin-bottom: 0px;
  font-weight: 400;
}


.techCard .scaleIcon {
  position: absolute;
  bottom: 190px;
  left: 35px;
}

.techCard .card3 {
  height: 170px;
}

.NewAgeCard{
  height: 90vh;
  width: 62%;
}

.NewAgeCard .card3 {
    height: 220px;
}

.NewAgeCard .cardContent p{
  font-size: 13px;
  letter-spacing: 0px;
  color: #9496A0;
  opacity: 1;
  margin-bottom: 0px;
  font-weight: 400;
}

.NewAgeCard .scaleIcon {
    position: absolute;
    bottom: 193px;
    left: 35px;
}

footer {
  background-color: #424143;
  margin-top: 5rem;
}

.imgFooter{
  position: relative;
}

footer .imgFooter .imgRed{
  display: none;
  transition: all 0.5s;
}

footer .imgFooter .imgRed,.imgGrey{
  transition: all 0.5s;
}

footer .imgFooter:hover .imgRed{
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
}




footer ul li{
  list-style-type: none;
}

footer .secondDiv ul li{
  font-size: 16px;
  font-weight: normal;
  list-style-type: none;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: 0.7;
  line-height: 42px;
  transition: all 0.5s;
}
footer .secondDiv ul li:hover{
  opacity: 1;
}

.firstDiv ul li a img{
  transition: all 0.5s;
}

.firstDiv ul li a:hover img{
  transform: rotate3d(1, 1, 1, 360deg);
}

.secondDiv ul li a{
  color: #FFFFFF;
  text-decoration: none;
}

footer .firstDiv p{
  font-size: 11px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

footer .form h6{
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 20px;
}

footer .form input{
  width: 60%;
  height: 48px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px 0px 0px 5px;
  opacity: 1;
}


footer .form input.form-control{
  padding: 0.375rem 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.02px;
color: #2F2F2F;
opacity: 1;
}

footer .form button{
  font-size: 14px;
  width: 25%;
  background: #EE2C3C 0% 0% no-repeat padding-box;
  border-radius: 0px 5px 5px 0px;
  font-weight: 900;
  opacity: 1;
  color: #FFFFFF;
  outline: none;
  border: none;
}




  

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    
  .navbar .has-megamenu{position:static !important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:-5px;  }
  
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
      overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* ============ mobile view .end// ============ */








/* =============== media query for 1920 resolution================ */


@media (min-width: 1650px) and (min-width: 1920px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 88vw;
}

#navbar {
  padding: 1vw;
}
.navbar-brand img{
  width: 122px;
  height: 64px;
}


.headDiv {
  padding: 1.5rem !important;
  width: 242px;
  height: 256px;
}

.headDiv h6{
  margin-top: 12px;
  font-size: 20px;
  margin-bottom: 3.3rem;
}
.headDiv a{
  font-size: 20px;
}
.headDiv p{
  font-size: 18px;
}

.videoText h1{
  font-size: 54px;
}

.videoText button {
  margin-top: 3rem;
  width: 251px;
  height: 58px;
}

.navbar .nav-link,span,li {
  font-size: 1.2rem;
}

.btnStudent{
  padding-top: 16px;
  width: 161px;
  height: 58px;
  font-weight: 900;
}

.bottomBox {
  width: 1175px;
  padding: 1.5rem;
  bottom: -70px;
}
.bottomBox div h6 {
  font-size: 22px;
}

.bottomBox div p {
  margin-top: 5px;
  font-size: 18px;
}

.carousel-control-next {
  right: 21px;
}
.carousel-control-prev {
  left: 3px;
}
.owl-nav .owl-next {
  right: 11.5%;
  transform: translate(-11.5%, -50%);
}
.owl-nav .owl-prev {
  left: 11.5%;
  transform: translate(-11.5%, -50%);
}
.enrollBtn{
  width: 170px;
  height: 70px;
}

.title h4{
  font-size: 34px;
  font-weight: 900;
}

.title h4 span{
  font-size: 34px;
  font-weight: 900;
}

.title p{
  font-size: 24px;
}

.whiteTap{
  padding: 1rem !important;
}
.whiteTap h6 {
  font-size: 14px;
}
.cardContent h6{
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 15px;
}

.list-group.fs1 li{
  font-size: 16px;
  line-height: 32px;
}

.list-group.fs2 li{
  padding-right: 1rem;
  font-size: 16px;
  line-height: 32px;
}

.cardBtn{
  width: 185px;
height: 49px;
font-size: 15px;
font-weight: 400;
}

.scaleIcon {
  bottom: 186px;
}

.techCard .cardContent p {
  font-size: 17px;
}
.techCard .card3 {
  height: 250px;
}

.techCard .scaleIcon {
  bottom: 216px;
}

.NewAgeSection {
  background-image: url(../img/Path.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
}

.NewAgeCard {
  height: 100vh;
}


.NewAgeCard .card3 {
  height: 280px;
}

.NewAgeCard .cardContent p {
  font-size: 17px;
}

.NewAgeCard .scaleIcon {
  bottom: 216px;
}

footer {
  margin-top: 10rem;
}

footer .secondDiv ul li {
  font-size: 22px;
  line-height: 60px;
}

footer .firstDiv ul li img{
  width: 27px;
height: 27px;
margin-right: 5px;

}

footer .firstDiv p {
  font-size: 13px;

}

footer .form h6 {
  font-size: 20px;
}

footer .form input {
  width: 65%;
height: 70px;
}
footer .form button {
  font-size: 24px;
  width: 30%;
}
}




/* ============== reponsive mobile 600px=============== */

@media (max-width:600px){
  /* .owl-stage-outer .owl-stage{
    width: 1566px !important;
    transform:none;
  }
  .owl-stage .owl-item {
    opacity: 1;
    
}
.owl-stage .owl-item.active,.owl-item.center{
  width: 237px !important;
} */

.owl-one .owl-stage-outer .owl-stage{
  width: 2000px !important;
  /* transform:none; */
}


/* .owl-one .owl-stage .owl-item.active{
  width: 275px !important;
}  */



.owl-stage .owl-item {
  opacity: 1;
  
}

.owl-nav .owl-prev {
  position: absolute;
  left: 30%;
  top: 90%;
  
}

.owl-nav .owl-next {
  position: absolute;
  top: 90%;
  left: 40%;
  bottom: 0;

}

/* tech product offerring */

.techProduct .container{
  width: 100% !important; 
}

.techCard{
  overflow-x: scroll;

}

.techCard .row{
  width: 245%;
}


/* new age section */

.NewAgeCard{
  height: 100%;
  width: 95%;
  overflow-x: scroll;
}

.NewAgeCard .row{
  width: 200%;

}


}





@media(min-width:991px)
{
  .ms-md-auto
  {
    margin-left: auto;
  }
}
@media(max-width: 900px)
{
  header .overlay
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 50;
    display: none;
  }
  header .overlay.active
  {
    display: block;
  }
  .navbar-toggler {
    line-height: 1;
    color: #222;
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler-icon {
      background-image: url(../img/menu.png);
      background-size: 75%;
  }
  .navbar .dropdown-t > span + span,
  .navbar .dropdown-tog > span + span
  {
    margin-left: 5px;
  }
  .navbar-brand img
  {
    margin-left: -15px;
    width: 114px;
  }
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
    text-align: center;    
  }
  .navbar .navbar-collapse ul li {
    padding: 3px 10px;
  }
  .navbar .navbar-collapse ul:first-child li:last-child
  {
    margin-bottom: 0.8rem;
  }
  .navbar .navbar-collapse ul:last-child
  {
    padding-bottom: 0.3rem;
  }
  .navbar .navbar-collapse ul:last-child li
  {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .btnStudent {
    background: none;
    color: #ee2c3c !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    letter-spacing: 0.3px !important;
    word-spacing: 1px;
    position: relative;
  }
  .btnStudent + span
  {
    background-image: url(../img/arrow-right-red.svg);
    width: 25px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .joinCourse span {
    font-weight: 500;
  }
  .navbar.rounded-bottom {
    border-bottom-right-radius: 13px !important;
    border-bottom-left-radius: 13px !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  }
}